<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width", initial-scale=1>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link href="{{ url_for('static', filename='/style.css') }}" rel="stylesheet">
        <title>DoodleRec</title>
    </head>
    <body>
        <aside>
            <div><h1 class="heading1">DoodleRec - Pre-Alpha</h1></div>
            <div><h2><a href="https://github.com/CookNChips/BSP1---DoodleRec-Deep-Learning-Image-Recognition">Github Repository</a> of this project.</h2></div><hr>
            <div><h2>How to use:</h2></div>
            <div><h5>1/ Create a doodle by clicking and dragging on the left canvas.</h5></div>
            <div><h5>2/ Retrieve your image data by clicking on the dedicated button.</h5></div>
            <div><h5>3/ The guess appears on your terminal shell. </h5></div>
            <div><h4>This app only works using a desktop or a laptop, as I encourage to use it fullscreen.</h4></div>
            <div id="data"></div>
        </aside>
        <canvas id="canvas" height="28" width="28"></canvas>
        <a href="{{ url_for('download_data') }}"><button type="button">Retrieve your Data!</button></a>
        <script src="{{ url_for('static', filename='/script.js') }}"></script>
        <style>
            * {
                background-color: rgba(12, 12, 12, 0);
                background-size: cover;
            }
            body {
                background-repeat: no-repeat;
                background-position: center;
                height: 98%;
                width: 98%;
                background-image: url({{ url_for('static', filename='layer.png') }});
            }
        </style>
    </body>
</html>